.container-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-white);
    font-size: var(--font-16);

    &.portrait {
        width: 100vw;
        height: 100vh;
        background: var(--bg-overlay);
    }

    &.rectangle {
        width: var(--max-width);
        height: 30rem;
        background: var(--bg-overlay);
        position: relative;

        @media (max-width:1400px) {
            height: 27.5rem;
        }

        @media (max-width:1200px) {
            height: 25rem;
        }

        @media (max-width:992px) {
            height: 22.5rem;
        }

        @media (max-width:768px) {
            height: 60vh;
        }
    }

    --twoImages-maxHeight: 40rem;
    --twoImages-width: 36.5rem;
    --first-image-height: 27.5rem;
    --second-image-height: 40rem;

    @media (max-width:1400px) {
        --twoImages-width: 31rem;
        --twoImages-maxHeight: 35rem;
        --first-image-height: 25rem;
        --second-image-height: 35rem;
    }

    @media (max-width:1200px) {
        --twoImages-width: 25.5rem;
        --twoImages-maxHeight: 30rem;
        --first-image-height: 22.5rem;
        --second-image-height: 30rem;
    }

    @media (max-width:992px) {
        --twoImages-width: 20rem;
        --twoImages-maxHeight: 25rem;
        --first-image-height: 17.5rem;
        --second-image-height: 25rem;
    }

    @media (max-width:768px) {
        --twoImages-maxHeight: revert;
        --twoImages-width: 90vw;
        --first-image-height: 60vh;
        --second-image-height: 60vh;
    }

    &.container-twoSmall-placeholder {
        width: var(--max-width);
        display: flex;
        justify-content: space-between;
        height: var(--twoImages-maxHeight);

        @media (max-width:768px) {
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 8rem;
        }

        &.isReverse {
            flex-direction: row-reverse;

            @media (max-width:768px) {
                flex-direction: column;
            }
        }

        .first-column {
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--bg-overlay);
            width: var(--twoImages-width);
            height: var(--first-image-height);
        }

        .second-column {
            display: flex;
            justify-content: center;
            align-items: center;
            background: var(--bg-overlay);
            width: var(--twoImages-width);
            height: var(--second-image-height);
        }
    }
}