.container-section-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12rem;
    width: 100vw;

    &.scrollBlock {
        max-height: 100vh;
        margin-bottom: -14rem;
    }

    @media (max-width:1200px) {
        gap: 8rem;
    }

    @media (max-width:768px) {
        gap: 3.75rem;
    }

    .container-title-back {
        width: var(--max-width);
        padding-bottom: 1.25rem;
        text-align: left;

        .title-back {
            color: var(--primary-gray);
            height: 1rem;
            transition: var(--transition);
            font-size: var(--font-16);

            @media (max-width:442px) {
                font-size: var(--font-14);
            }

            &:hover {
                color: var(--primary-black);
                border-bottom: 1px solid var(--primary-black);
                transition: var(--transition);
            }
        }
    }
}