.container-section-burger-menu {
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100vw;
    user-select: none;
    background: transparent;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width:768px) {
        top: 3rem;
    }

    &.secondary {
        background: var(--primary-white)
    }

    .container-navigation {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
        width: 100vw;
        padding: 0.75rem 2.5rem;

        @media (max-width:768px) {
            padding: 1rem 0.5rem;
            width: 90vw;
        }

        .title-nav {
            color: var(--primary-white);
            font-weight: var(--font-regular);
            font-size: var(--font-16);
            height: 1.15rem;
            transition: var(--transition);

            @media (max-width:442px) {
                font-size: var(--font-14);
            }

            &:hover {
                border-bottom: 1px solid var(--primary-white);
                transition: var(--transition);
            }

            &.secondary {
                color: var(--primary-gray);

                &:hover {
                    color: var(--primary-black);
                    border-bottom: 1px solid var(--primary-black);
                    transition: var(--transition);
                }
            }
        }

        &.secondary {
            padding: 0.75rem 0rem;
            color: var(--primary-gray);
            width: var(--max-width);

            @media (max-width:768px) {
                padding: 1rem 0rem;
            }
        }
    }
}