.container-section-portraitImage {
    position: relative;
    top: 0;
    left: 0;
    
    .container-outer-image {
        position: relative;
        top: 0;
        left: 0;
        width: 100vw;
        height: 50vh;
        user-select: none;
        overflow: hidden;

        * {
            pointer-events: none;
        }

        .container-inner-image {
            object-fit: cover;
            object-position: center;
        }
    }

    .container-overlay-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 50vh;
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background: rgb(0, 0, 0, 0.4);

        .wrapper-overlay {
            width: var(--max-width);

            .title-title {
                color: var(--primary-white);
                font-size: var(--font-30);
            }

            .title-subtitle {
                color: var(--primary-white);
                font-size: var(--font-16);
            }
        }
    }
}