.container-section-longImg {
    position: relative;
    top: 0;
    left: 0;
    --full-height-img: calc(100vh - 5rem);

    .container-outer-image {
        position: relative;
        top: 0;
        left: 0;
        width: 100vw;
        height: var(--full-height-img);
        user-select: none;
        overflow: hidden;

        * {
            pointer-events: none;
        }

        &.reduce {
            width: var(--max-width);
            height: 30rem;

            @media (max-width:1400px) {
                height: 27.5rem;
            }

            @media (max-width:1200px) {
                height: 25rem;
            }

            @media (max-width:992px) {
                height: 22.5rem;
            }

            @media (max-width:768px) {
                height: 60vh;
            }
        }

        .container-inner-image {
            object-fit: cover;
        }
    }

    .container-overlay-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: var(--full-height-img);
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background: var(--bg-overlay);
        color: var(--primary-white);

        .wrapper-overlay {
            width: var(--max-width);

            .title-title {
                font-size: var(--font-30);
            }

            .title-subtitle {
                font-size: var(--font-16);
            }
        }
    }
}