:root {
  --calc-rem: calc(14px + (20.56 - 14) * ((100vw - 280px) / (3840 - 280)));
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --font-regular: 400;
  --font-bold: 700;
  --font-46: 2.875rem;
  --font-18: 1.125rem;
  --font-16: 1rem;
  --font-14: 0.875rem;
  --font-12: 0.75rem;
  --primary-white: #FFFFFF;
  --secondary-white: rgba(255, 255, 255, 0.6);
  --primary-black: #FFFFFF;
  --transition-ease-in-out: 100ms ease-in-out;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--primary-black);
  background-color: var(--primary-white);
  font-size: var(--calc-rem);
  font-family: var(--font-mono);
}

a {
  color: inherit;
  text-decoration: none;
}