.container-section-twoImages {
    --twoImages-maxHeight: 40rem;
    --twoImages-width: 36.5rem;
    --first-image-height: 30rem;
    --second-image-height: 40rem;

    @media (max-width:1400px) {
        --twoImages-maxHeight: 35rem;
        --twoImages-width: 31rem;
        --first-image-height: 27.5rem;
        --second-image-height: 35rem;
    }

    @media (max-width:1200px) {
        --twoImages-maxHeight: 30rem;
        --twoImages-width: 25.5rem;
        --first-image-height: 25rem;
        --second-image-height: 30rem;
    }

    @media (max-width:992px) {
        --twoImages-maxHeight: 25rem;
        --twoImages-width: 20rem;
        --first-image-height: 20rem;
        --second-image-height: 25rem;
    }

    @media (max-width:768px) {
        --twoImages-maxHeight: revert;
        --twoImages-width: 90vw;
        --first-image-height: 60vh;
        --second-image-height: 60vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 8rem;
    }

    width: var(--max-width);
    display: flex;
    justify-content: space-between;
    height: var(--twoImages-maxHeight);

    .container-column {
        height: 100%;
        display: flex;
        align-items: center;

        &.second {
            align-items: flex-end;
        }

        .container-outer-image {
            position: relative;
            top: 0;
            left: 0;
            width: var(--twoImages-width);
            height: var(--first-image-height);
            user-select: none;
            overflow: hidden;
            padding-bottom: 15rem;
            background-color: var(--secondary-white);

            * {
                pointer-events: none;
            }

            &.second {
                height: var(--second-image-height);
            }

            .container-inner-image {
                object-fit: cover;
                object-position: center;
            }
        }
    }
}