.container-form {
    width: var(--max-width);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;

    .inputs-container {
        max-height: 18rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }
    .form-title{
        text-align: center;
        font-size: var(--font-18);
    }
}