.container-section-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 12rem;
    width: 100%;
    min-height: 100vh;
    padding: 8rem 0;

    .container-columns {
        width: var(--max-width);
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @media (max-width:768px) {
            grid-template-columns: repeat(1, 1fr);
            gap: 3.5rem;
        }

        .header-title {
            font-size: var(--font-24);
        }

        .contact-details {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            height: 100%;
            gap: 3.5rem;

            @media (max-width:768px) {
                margin: revert;
            }

            .link-item {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                .title {
                    font-size: var(--font-16);
                    color: var(--primary-black);
                }

                .wrapper-address {
                    display: flex;
                    align-items: center;
                    gap: 0.25rem;

                    .address {
                        cursor: pointer;
                        color: var(--primary-gray);
                        height: 1rem;
                        transition: var(--transition);
                        font-size: var(--font-16);
                    }
                }

                &:hover {
                    .wrapper-address .address {
                        color: var(--primary-black);
                        border-bottom: 1px solid var(--primary-black);
                        transition: var(--transition);
                    }
                }
            }
        }
    }
}