.container-section-banner {
    position: relative;
    top: 0;
    left: 0;

    .container-outer-image {
        position: relative;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        user-select: none;
        overflow: hidden;

        * {
            pointer-events: none;
        }

        .container-inner-image {
            object-fit: cover;
            object-position: center;
        }
    }

    .container-overlay-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        background: rgb(0, 0, 0, 0.4);

        .title-header {
            color: var(--primary-white);
            font-size: var(--font-30);
            font-weight: var(--font-regular);
        }
    }

    .container-titles {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;

        .title-item {
            cursor: pointer;
            color: var(--primary-white);
            height: 1.15rem;
            font-size: var(--font-16);

            &:hover {
                border-bottom: 1px solid var(--primary-white);
            }
        }
    }
}