.container-section-selector-titles {
    width: var(--max-width);
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .header-title {
        text-transform: uppercase;
    }

    .selector-titles {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 0.5rem;

        .title-item {
            cursor: pointer;
            color: var(--primary-hover);
            height: 1.25rem;
            transition: var(--transition-ease-in-out);

            &:hover {
                color: var(--primary-black);
                border-bottom: 1px solid var(--primary-black);
                transition: var(--transition-ease-in-out);
            }
        }
    }
}