.container-section-selector-titles {
    width: var(--max-width);
    min-width: var(--max-width);
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .header-title {
        text-transform: uppercase;
        font-size: var(--font-14);
    }

    .selector-titles {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        column-gap: 0.75rem;
        row-gap: 1.25rem;

        @media (max-width:442px) {
            column-gap: 1rem;
        }

        .title-item {
            cursor: pointer;
            color: var(--primary-gray);
            height: 1rem;
            transition: var(--transition);
            font-size: var(--font-16);

            &:hover {
                color: var(--primary-black);
                border-bottom: 1px solid var(--primary-black);
                transition: var(--transition);
            }

            &.active-item {
                color: var(--primary-black);
                border-bottom: 1px solid var(--primary-black);
            }
        }
    }
}