.container-section-selector-titles {
    width: var(--max-width);
    min-width: var(--max-width);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @media (max-width:519px) {
        gap: 1rem;
    }

    .header-title {
        text-transform: uppercase;
        font-size: var(--font-14);
    }

    .selector-titles {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 0.75rem;
        row-gap: 1.15rem;

        .title-item {
            cursor: pointer;
            color: var(--primary-gray);
            height: 1rem;
            transition: var(--transition);
            font-size: var(--font-14);

            &:hover {
                color: var(--primary-black);
                border-bottom: 1px solid var(--primary-black);
                transition: var(--transition);
            }
        }
    }
}