.container-outer-verticalImg {
    position: relative;
    top: 0;
    left: 0;
    width: 28rem;
    min-width: 28rem;
    height: 33rem;
    user-select: none;
    overflow: hidden;
    background: var(--bg-overlay);

    @media (max-width:1400px) {
        width: 26rem;
        min-width: 26rem;
    }

    @media (max-width:1200px) {
        width: 24rem;
        min-width: 24rem;
    }

    @media (max-width:992px) {
        width: 18rem;
        min-width: 18rem;
    }

    @media (max-width:768px) {
        width: 94vw;
        min-width: 94vw;
    }

    * {
        pointer-events: none;
    }

    .container-inner-image {
        object-fit: cover;
    }
}