.container-projects-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.75rem;
    row-gap: 3.75rem;
    min-width: var(--max-width);
    width: var(--max-width);
    padding-bottom: 5rem;

    @media (max-width:768px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.container-btn-top {
    width: var(--max-width);
    padding-bottom: 1.25rem;
    display: flex;
    justify-content: flex-end;
}