.container-projects-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.75rem;
    width: var(--max-width);

    @media (max-width:768px) {
        grid-template-columns: repeat(1, 1fr);
    }
}