.container-section-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: var(--primary-white);
    display: flex;
    justify-content: center;
    height: 5rem;

    .wrapper-navbar {
        min-width: var(--max-width);
        width: var(--max-width);
        display: flex;
        align-items: center;
        justify-content: space-between;

        .fill-space {
            width: 2rem;
            
            @media (max-width:768px) {
                display: none;
            }
        }

        .navbar-title {
            font-weight: var(--font-regular);
            font-size: var(--font-18);
        }
    }
}