.container-section-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    transition: height var(--transition-nav), background-color var(--transition-nav);
    height: 5rem;

    @media (max-width:768px) {
        height: 3.5rem;
        padding: 0;
    }

    &.show-on-top {
        background-color: transparent;
        background-color: var(--primary-white);
    }

    &.hidden {
        transition: height var(--transition-nav), background-color var(--transition-nav);
        background-color: transparent;
    }

    &.shadow {
        box-shadow: var(--shadow);
    }

    &.secondary {
        position: fixed;
        background-color: var(--primary-white);
    }

    &.isOpen {
        height: 7rem;

        @media (max-width:768px) {
            height: 6.25rem;
        }
    }

    .wrapper-navbar {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 5rem;
        z-index: 3;

        @media (max-width:768px) {
            width: 90vw;
        }

        &.secondary {
            min-width: var(--max-width);
            width: var(--max-width);
        }

        .fill-space {
            width: 2rem;
            height: 1rem;

            @media (max-width:768px) {
                display: none;
            }
        }

        .navbar-title {
            font-weight: var(--font-regular);
            color: var(--primary-white);
            font-size: var(--font-32);
            user-select: none;

            @media (max-width:1200px) {
                font-size: var(--font-30);
            }

            @media (max-width:768px) {
                font-size: var(--font-26);
            }

            &.secondary {
                font-weight: var(--font-regular);
                font-size: var(--font-26);
                color: var(--primary-gray);
            }

            &.change-color {
                color: var(--primary-gray);
            }
        }
    }
}