.container-section-navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: transparent;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 4rem;
    padding: 0 2rem;

    @media (max-width:768px) {
        padding: 0;
        height: 3rem;
    }

    &.secondary {
        position: fixed;
        background-color: var(--primary-white);
    }

    .wrapper-navbar {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width:768px) {
            width: 94vw;
        }

        &.secondary {
            min-width: var(--max-width);
            width: var(--max-width);
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .fill-space {
            width: 2rem;

            @media (max-width:768px) {
                display: none;
            }
        }

        .navbar-title {
            font-weight: var(--font-regular);
            color: var(--primary-white);
            font-size: var(--font-32);
            user-select: none;

            @media (max-width:1200px) {
                font-size: var(--font-30);
            }

            @media (max-width:768px) {
                font-size: var(--font-26);
            }

            &.secondary {
                font-weight: var(--font-regular);
                font-size: var(--font-26);
                color: var(--primary-gray);
            }
        }
    }
}