.container-section-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;

    .wrapper-footer {
        min-width: var(--max-width);
        width: var(--max-width);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        border-top: 1px solid var(--primary-gray);

        .primary-footer {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 2.25rem 0;

            .container-networks-icon {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 1rem;

                @media (max-width:768px) {
                    justify-content: center;
                }
            }
        }

        .secondary-footer {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 1.25rem 0;
            border-top: 1px solid var(--primary-gray);
            text-align: center;

            .text-company {
                color: var(--primary-gray);
                font-size: var(--font-12);
            }
        }
    }
}